.DS_Store
lightning_logs
__pycache__
.idea
.vscode

/downloads
/clip-vit-large-patch14
/wandb
*.pth
*.safetensors
/debug
/persistence
/pixart_text_encoder
/llm14b
/test_results
/log
*.vsix
*.tar.gz
*.mp4
*.ipynb_checkpoints
*.ipynb
/concatenate_ranks_i2v_lk_v0.3.1
/test_videos
/results
/ckpts